@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--murcoda-style-black);
  }
  header {
    background-color: var(--murcoda-style-black);
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: var(--murcoda-style-white);
  }
  header {
    background-color: var(--murcoda-style-white);
  }
}

:root {
  --murcoda-m: #90FF90;
  --murcoda-u: #90FFA1;
  --murcoda-r: #90FFAD;
  --murcoda-c: #FFEF90;
  --murcoda-o: #FFFE90;
  --murcoda-d: #F1FF90;
  --murcoda-a: #E2FF90;
  --murcoda-main: #90FF90;
  --murcoda-style-red: #8B0000;
  --murcoda-style-green: #00FA9A;
  --murcoda-style-orange: #FFA500;
  --murcoda-style-gold: #FFD700;
  --murcoda-style-blue: #4682B4;
  --murcoda-style-violet: #483D8B;
  --murcoda-style-white: #FFFAFA;
  --murcoda-style-gray: #696969;
  --murcoda-style-black: #283028;
}

body {
  font-family: 'big';
}

header {
  width: 100%;
  height: 64px;
  border: 2px solid var(--murcoda-main);
  border-radius: 10px;
  display: flex;
}

.murcoda-m { color: var(--murcoda-m); }
.murcoda-u { color: var(--murcoda-u); }
.murcoda-r { color: var(--murcoda-r); }
.murcoda-c { color: var(--murcoda-c); }
.murcoda-o { color: var(--murcoda-o); }
.murcoda-d { color: var(--murcoda-d); }
.murcoda-a { color: var(--murcoda-a); }

.logo {
  border-radius: 8px 0 0 8px;
  width: 64px;
  height: 64px;
}

header h1 {
  margin-left: 10px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 2px;
}
