:root {
  --murcoda-m: #90ff90;
  --murcoda-u: #63ff63;
  --murcoda-r: #3dff3d;
  --murcoda-c: #c7ffc7;
  --murcoda-o: #dcfcdc;
  --murcoda-d: #e8fce8;
  --murcoda-a: #f0f2f0;
  --murcoda-main: #90ff90;
  --murcoda-style-red: #8b0000;
  --murcoda-style-green: #00fa9a;
  --murcoda-style-orange: #ffa500;
  --murcoda-style-gold: #ffd700;
  --murcoda-style-blue: #4682b4;
  --murcoda-style-violet: #483d8b;
  --murcoda-style-white: #fffafa;
  --murcoda-style-gray: #696969;
  --murcoda-style-black: #283028;
}